#body{
    background:#acc9ff ;

}

#h1{
    margin-inline: 35%;
    margin-bottom: 30px;
    margin-top: 200px;
    text-align: center;
}

p{
    margin-inline: 30%;
    font-size: 20px;
}

#icon_nav{
    width: 50px;
    height: 40px;
}

i{
    margin-right: 10px;
}

#a-nav-1{
    margin-right: 40px;
    font-size: 20px;
    text-decoration: none;
}

#a-body-1{
    margin-inline: 46.5%;
    margin-top: 20px;
    padding: 18px;
}

#a-body-1:hover{
    color:blue;
    background-color: white;
    border: 3px solid white;
    padding: 16px;
}

#login-div{
    background-color: white;
    margin-top: 50px;
    margin-inline: 30%;
    border-radius: 25px;
    padding: 20px;
}



#img-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#submit-login{
    margin-inline: 41%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

#submit-add{
    margin-inline: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    padding-left: 45px;
    padding-right: 40px;
}

#card-worker.card{
    margin-inline: 40%;
    margin-top: 50px;
    width: 400px;
    height: 598px;
    font-size: 20px;
}

#img{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px; 
    width: 200px;
    height: 300px;   
}

li{
    margin-bottom: 40px;
    border-bottom: 2px solid blue;
    margin-right: 20px;
}

#a-working{
    margin-inline: 40%;
    margin-top: 20px;
    border-radius: 50px;
    padding: 20px;
}

#check{
   margin: auto;
   padding: 10px;
}
 
#a-working:hover{
    background-color: greenyellow;
    border: 5px solid green;
    padding: 16px;
}

#insert-user{
    margin-right: auto;
    padding: 15px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#no_presence{
    margin-inline: 25%;
    padding: 10px;
    margin-top: 5px;
}

#x{
    margin: auto;
    margin-left: 9px;
}


#presence{
    margin-inline: 25%;
    padding: 10px;
    margin-top: 5px;
}

#bien{
    margin: auto;
    margin-left: 8px;
}